@font-face {
  font-family: 'Gotham';
  src: url('../fonts/woff/Gotham-Light_Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/woff/Gotham-LightItalic_Web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/woff/Gotham-Book_Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/woff/Gotham-BookItalic_Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/woff/Gotham-Medium_Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/woff/Gotham-MediumItalic_Web.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/woff/Gotham-Bold_Web.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/woff/Gotham-BoldItalic_Web.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

.title1 {
    font-family: 'Gotham';
    font-size: 48px;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.3rem;
    color: #FFFFFFB3;
    text-decoration: none;
  }
  .title2 {
    font-family: 'Gotham';
    font-size: 48px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.3rem;
    color: #FFFFFFB3;
    text-decoration: none;
  }
.menuItems1 {
   font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 00;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    color: #fff;
    text-decoration: none;
  }